  <!-- <link rel="stylesheet" href="/stylesheets/style.css" />

<link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />

<body>
<% if (user) { %>
<h1>Welcome to the app, <%= user.username %>!</h1>
<a href="/auth/sign-out">Sign out</a> 
<a class="nav-link" href="/listings/new">Add a Listing</a>

<% } else { %>
<h1>Welcome to the app, guest.</h1>
<p>
<a href="/auth/sign-up" class="vintage-button">Sign up</a>
<a href="/auth/sign-in" class="vintage-button">sign in</a>

<img src="/assets/image1.png" alt="intro Image" class="left-full-height"> 
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/assets/image1.png" alt="intro Image" class="left-full-height">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
</p>
<% } %>




</body>
</html> -->
<%- include('./partials/head') %>


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&family=EB+Garamond&display=swap" rel="stylesheet">

  <!--  custom stylesheet -->
  <link rel="stylesheet" href="/stylesheets/style.css" />

</head>
<body>
  <div class="page-container">
    <div class="left-side"></div>

    <div class="right-side">
      <% if (user) { %>
        <h1>Welcome to the app, <%= user.username %>!</h1>  
              <p class="custom-font-text">
          Thanks for joining us! Use the buttons  to manage your listings and explore more features.
</p>
       
        <a href="/listings" class="vintage-button">All Listings</a> 
        
        <a href="/listings/new" class="vintage-button">Add a Listing</a>
        <a href="/auth/sign-out" class="vintage-button">Sign out</a> 


      <% } else { %>
        <h1>Welcome to the TimeTreasure-app , guest.</h1>
        <p class="custom-font-text">
          Sign up to unlock all the features and start adding listings today!
</p>
        <a href="/auth/sign-up" class="vintage-button">Sign up</a>
        <a href="/auth/sign-in" class="vintage-button">Sign in</a>
        
      <% } %>
    </div>
  </div>
</body>
</html>

